<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RobSantiago19/blob/main/Assignment01_Module_1_3_Curso_IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MODULE 1:

In [ ]:
# Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement:

In [ ]:
print("Hello\nWorld!")

Hello
World!

In [ ]:
# What is the output of executing the following statement: print('Hello World!')?

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
# What is the type of the following: int(1.0)?

In [ ]:
# Answer: int

In [ ]:
# Enter the code to convert the number 1 to a Boolean:

In [ ]:
bool(1)

True

In [ ]:
#Consider the following string:

Numbers = "0123456"
# How would you obtain the even elements?

In [ ]:
Numbers[::2]

'0246'

In [ ]:
# What is the result of the following line of code:

"0123456".find('1')

1

## Review Questions Module 1:

In [ ]:
# What is the result of the following operation in Python:

3 + 2 * 2

7

In [ ]:
# In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?

In [ ]:
name = "Lizz"
print(name[0:2])

Li

In [ ]:
# In Python, if you executed var = '01234567', what would be the result of print(var[::2])?

In [ ]:
var = "01234567"
print(var[::2])

0246

In [ ]:
# In Python, what is the result of the following operation '1'+'2'?

In [ ]:
"1" + "2"

'12'

In [ ]:
# Given myvar = 'hello', how would you convert myvar into uppercase?

In [ ]:
myvar = "hello"
myvar.upper()

'HELLO'

# MODULE 2:

In [ ]:
# How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers:

In [ ]:
A = (0,1,2,3)
A[3]

3

In [ ]:
A[-1]

3

In [ ]:
# Consider the list: 

B=["a","b","c"]

# What is the result of the following: 
B[1:]

['b', 'c']

In [ ]:
# What is the result of the following lines of code:

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
# What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}

# Respuesta --> {"A"."C"}

In [ ]:
# Consider the following dictionary:

D = {'a':0,'b':1,'c':2}

# What is the result of the following:
D.values()

dict_values([0, 1, 2])

In [ ]:
# Consider the following dictionary:

D = {'a':0,'b':1,'c':2}
# What is the output of the following:
D['b']

1

## Review Questions Module 2:

In [ ]:
# What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')
A [0]

'a'

In [ ]:
# After applying the following method, L.append(['a','b']), the following list will only be one element longer:

In [ ]:
print("\033[92m True, porque .append solo añade un elemento a l lista")

 True, porque .append solo añade un elemento a l lista

In [ ]:
# How many duplicate elements can you have in a set?

In [ ]:
print("\033[92m Ninguno, todos los elementos de un set son únicos")

 Ninguno, todos los elementos de un set son únicos

In [ ]:
# Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

# What is the result of the following operation: 

Dict["D"]

(4, 4, 4)

In [ ]:
# What is an important difference between lists and tuples?
print("\033[92m Los listas son mutables y las tuplas no")

 Los listas son mutables y las tuplas no

## MODULE 3:

In [ ]:
age = 19
if(age>18):
    print("You can enter")
    
elif(age==18):
    print("go see Pink Floyd")
    
else:
    print("go see Cold Play")
    print("Move on")

You can enter

In [ ]:
# Select the values of i that produces a True for the following:

i=1
i!=0

True

In [ ]:
# What is the output of the following:

x='a'

if(x!='a'):

    print("This is not a.")

else:

    print("This is a.")

This is a.

In [ ]:
# What is the output of the following lines of code:

A=[3,4,5]

for a in A:

    print(a)

3
4
5

In [ ]:
# What is the output of the following lines of code:

x = 3
y = 1

while(y!=x):
    print(y)
    y=y+1

1
2

In [ ]:
album_ratings = [10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
L=len(album_ratings)
L

8

In [ ]:
S=sum(album_ratings)
S

70.0

In [ ]:
Sorted_album_ratings=sorted(album_ratings)
Sorted_album_ratings

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [ ]:
album_ratings.sort()
album_ratings

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [ ]:
# Creando mis propias funciones:

In [ ]:
def add1(a):
    b=a+1
    return b
add1(7)

8

In [ ]:
C=add1(18)
C

19

In [ ]:
def add1(a):
    """
    add 1 to a
    """
    b=a+1
    return b
add1(7)

8

In [ ]:
help(add1)

Help on function add1 in module __main__:

add1(a)
    add 1 to a

In [ ]:
def Mult(a,b):
    c=a*b
    return c
Mult(5,9)

45

In [ ]:
Mult(8,32.53)

260.24

In [ ]:
def NoWork():
    pass
print(NoWork())

None

In [ ]:
def printStuff(Stuff):
    for i,s in enumerate(Stuff):
        print("Album", i, "rating is", s)
album_ratings=[10.0,8.5,9.5]
printStuff(album_ratings)

Album 0 rating is 10.0
Album 1 rating is 8.5
Album 2 rating is 9.5

In [ ]:
# What is the value of c after the following block of code is run ?

a=1

def add(b):

    return a+b

c=add(10)
c

11

In [ ]:
# What is the value of c after the following block of code is run with proper numerical input?

def f(*x):

    return sum(x)
# Respuesta --> Return the total of a variable amount of parameters.

In [ ]:
# Using the Class Car in the lab, create a Car object with the following attributes:

make="Honda"

model="Accord"

color="blue"

class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1
        
my_car = Car(make,model,color)

In [ ]:
my_car.make

'Honda'

In [ ]:
my_car.model

'Accord'

In [ ]:
my_car.color

'blue'

In [ ]:
# From the lab, how would you change the data attribute owner_number ?
# Respuesta ---> Utilising the method sell().

## Review Questions Module 3:

In [ ]:
# What is the output of the following lines of code:

x=1

if(x!=1):

    print('Hello')

else:

    print('Hi')

print('Mike')

Hi
Mike

In [ ]:
# What is the output of the following few lines of code?

A = ['1','2','3']

for a in A:

    print(2*a)

11
22
33

In [ ]:
# Consider the function Delta, when will the function return a value of 1

def Delta(x):

    if x==0:

        y=1;

    else:
    
        y=0;

    return(y)
# Respuesta ----> Cuando el input es 0

In [ ]:
# What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'.
    # Respuesta ---> Con B.sort()

In [ ]:
# What are the keys of the following dictionary: {'a':1,'b':2}?
    # Respuesta ---> "a" y"b"