## MODULE 4 ---> Roberto Santiago Oliva:

In [5]:
# import urllib.request
# url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
# filename = 'Example1.txt'
# urllib.request.urlretrieve(url, filename)

## Download Example file
# !wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

In [6]:
from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "Example1.txt")

In [11]:
# Podemos leer el archivo:
example1 = "Example1.txt"
file1 = open(example1, "r")
file1.name

'Example1.txt'

In [12]:
file1.mode

'r'

In [13]:
FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [14]:
print(FileContent)

This is line 1
This is line 2
This is line 3

In [15]:
type(FileContent)

str

In [16]:
file1.close()

In [19]:
# Le escribimos una lina al archivo:
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [21]:
# Leemos el archivo:

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [23]:
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [24]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [28]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
ne A
This is line B
This is line C

Overwrite
ne A
This is line B
This is line C

In [29]:
# Usando el modo "appending":
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
ne A
This is line B
This is line C

Overwrite
ne A
This is line B
This is line C

## Pandas:

In [9]:
import pandas as pd
#csv_path="file1.csv"
#df=pd.read_csv(csv_path)
## **Se pone entre como comentario porque no se tiene dicho archivo**

### Dataframes:

In [34]:
#csv_path="file1.csv"
#df=pd.read_csv(csv_path)
#df.head()

In [2]:
# Consider the dataframe df. How would you find the element in the second row and first column?
# Answer -----> df.ix[1,0] or df.iloc[1,0]

In [6]:
# Will the following code run?
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [7]:
# Con la variable .to_csv puedes guardar un analisis en un nuevo archivo de csv

In [10]:
# Consider the dataframe: 
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

# What type does the following return: 
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [2]:
# What task does the following method perform:
#  df.to_cvs("file.csv")

### **Respuesta:** La acción anterior hace que el dataframe se guarde como un archivo csv

### **Lab 4:**

In [3]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
# !pip install xlrd

import piplite
await piplite.install(['xlrd','openpyxl'])

In [4]:
# Import required library

import pandas as pd

In [5]:
# Read data from CSV file

# csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
# df = pd.read_csv(csv_path)

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")

In [6]:
# Print first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [7]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

await download(xlsx_path, "TopSellingAlbums.xlsx")
df = pd.read_excel("TopSellingAlbums.xlsx")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [8]:
# Access to the column Length

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [9]:
# Get the column as a series

x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [10]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [11]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [12]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [13]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

In [14]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

In [15]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

<h2 id="quiz">Quiz de DataFrame:</h2>

#### Usa la variable "q" para almacenar la columna "Rating" como un dataframe

In [18]:
q = df[["Rating"]]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

#### Asigna la variable "q" para que almacene las columnas "released" y "artist"

In [19]:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

### Ubica la segunda fila y la tercera columna de df:

In [21]:
df.iloc[1,2]

1980

#### Usa la siguiente lista para convertir el dataframe index "df" a "characters" y asignala a "df_new"; encuentra el elemento correspondiente a la fila index "a" y la columna 'Artist'. Después selecciona las filas "a" hasta "d" para la columna 'Artist'

In [23]:
new_index=['a','b','c','d','e','f','g','h']

In [24]:
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

## REVIEW QUESTIONS:

In [25]:
# What do the following lines of code do?

with open("Example1.txt","r") as file1:

    FileContent=file1.readlines()

    print(FileContent)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [26]:
# What do the following lines of code do?

with open("Example2.txt","w") as writefile:

    writefile.write("This is line A\n")

    writefile.write("This is line B\n")

In [28]:
# What do the following lines of code do?

with open("Example3.txt","a") as file1:

    file1.write("This is line C\n")

In [30]:
# What is the result of applying the following method df.head() to the dataframe "df"?

#### El resultado será que "imprimirá" las primeras 5 filas del dataframe